@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 52, 78);
}

.App {
  width: 600px;
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
  background-color: rgb(201, 201, 201);
}

.quote-No,
.author {
  color: rgb(34, 52, 78);
  text-align: end;
}

.quote {
  color: rgb(34, 52, 78);
  text-align: center;
}

.icon {
  font-size: 25px;
  text-align: center;
}

.button-ord {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 30px;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(34, 52, 78);
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  color: white;
}

.time-clock {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}
